App_Data/remind/remind.xsd

<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by grizzie (Bear Consulting Group) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="reminders">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="event" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="include" minOccurs="0"/>
			</xs:choice>
			<xs:attribute ref="xml:base" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="include">
		<xs:complexType>
			<xs:attribute name="href" type="xs:anyURI"/>
			<xs:attribute name="cache-file" type="xs:anyURI" use="optional" />
			<xs:attribute name="cache-interval" type="xs:string" use="optional" />
			<xs:attribute name="cache-value" type="xs:integer" use="optional" />
			<xs:attribute name="cache-break-interval" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="event">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="date" maxOccurs="unbounded"/>
				<xs:element ref="category" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="style" minOccurs="0"/>
				<xs:element ref="subject"/>
				<xs:element ref="location" minOccurs="0"/>
				<xs:element ref="content" minOccurs="0"/>
				<xs:element ref="comments" minOccurs="0"/>
				<xs:element ref="author" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:anySimpleType"/>
			<xs:attribute ref="xml:base" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="date">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:base" use="optional"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="single"/>
						<xs:enumeration value="season"/>
						<xs:enumeration value="moon"/>
						<xs:enumeration value="weekly"/>
						<xs:enumeration value="keyword"/>
						<xs:enumeration value="yearly"/>
						<xs:enumeration value="hebrew"/>
						<xs:enumeration value="monthly"/>
						<xs:enumeration value="julian"/>
						<xs:enumeration value="daily"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="weekly" />
			<xs:attribute name="monthly" type="DayType"/>
			<xs:attribute name="yearly" type="DayType"/>
			<xs:attribute name="hebrew" type="DayType"/>
			<xs:attribute name="offset" type="xs:anySimpleType"/>
			<xs:attribute name="duration" type="xs:anySimpleType"/>
			<xs:attribute name="duration-view" type="xs:anySimpleType"/>
			<xs:attribute name="pending" type="xs:anySimpleType"/>
			<xs:attribute name="time" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="category">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:base" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="style">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:base" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="subject">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:base" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="location">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:base" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="content">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:base" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="comments">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:base" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:base" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="DayType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="dayn"/>
			<xs:enumeration value="wday"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
